* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    padding: 24px;
    background-color:rgb(251 211 1);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;

}
header h1{
    width: 80px;
}
header div button{
    width: 60px;
    background-color: rgb(251 211 1);
    border: none ;
}
header button img {
    width: 55px;
}
header div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center
}
header div h1 img {
    width: 100px;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
    justify-content: space-between;
    padding-bottom: 32px;
}
p {
    font-size: 24px;
}
ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}
ul li {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}
ul li img {
    max-width: 290px;
}
ul li p{
    gap: 4px;
   
}
ul li span {
    color: green;
}

li {
    background-color: rgb(250, 247, 247);
    padding: 24px;
    height: 334px;
    justify-content: space-around;
   
   
}
.cartul {
    position: absolute;
    top: 150px;
    left: 0;
    /* right: 0; */
    /* bottom: 0px; */
    padding: 0;
    width: 100%;
    background-color: rgb(251 211 1);
    max-height: 400px;
    overflow: auto;
    /* height: 300px; */
    /* width: 100%; */
    list-style: none;
}
.cartul li {
    background-color: rgb(251 211 1);
}
.img {
    width: 270px;
}
.title {
    font-size: 20px;
    
}
.precoavista {
    font-size: 18px;
}
.spanavista {
    font-size: 18px;
}
.adicionar{
    align-self: flex-end;
}
